<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="./styles.css" rel="stylesheet">
        <title>aimTrainer</title>       
    </head>
    

    <body class="screen">
        <div type="target" class="target"></div>
        <div class="scoreboard">
            <div class="score"></div>
            <div class="accuracy"></div>
        </div>
    </body>
    <script src="/aimtrainer/app.js"></script>
</html>